h1{
    color:midnightblue;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    size: 50px;
    border: black; 
    border-style: dotted;
    padding: 20% 20% 20% 20%;
    text-align: center;
}